! Color Definitions
#define bg [90]#2c2c2c
#define fg #d9d9d9

#define black #22222A
#define bold_black #000000
#define red #FF6E01
#define green #95539D
#define yellow #E5AD58
#define blue #5860A9
#define magenta #7F5FB2
#define cyan #6673A3
#define white #C0CBDD

! Font Configuration
Xft.dpi: 109
Xft.antialias: 1
Xft.autohint: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! URXVT Configuration
URxvt*termName: rxvt-256color
URxvt*font: xft:Hack:pixelsize=10
URxvt.depth: 32
URxvt*lineSpace: 1
URxvt.letterSpace: 0
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt*geometry: 65x17 */
URxvt.scrollBar: false
URxvt.internalBorder: 15
URxvt.perl-ext-common: default,clipboard,matcher,font-size
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.autocopy: true
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 1

*background:   bg
*foreground:   fg
*cursorColor:  white

*color0: black
*color8: bold_black
*color1: red
*color9: red
*color2: green
*color10: green
*color3: yellow
*color11: yellow
*color4: blue
*color12: blue
*color5: magenta
*color13: magenta
*color6: cyan
*color14: cyan
*color7: white
*color15: white
