[Unit]
Description=Wedding Bot

[Service]
Type=simple
ExecStart=/usr/bin/php /home/nomad/Code/wedding-bot/main.php

[Install]
WantedBy=default.target
